@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


body {
    overflow-x: hidden;
}


.nav-item:not(:last-child) {
    border-right: 1px solid #000; /* Adds a border to all except the last item */
    margin-right: .5rem; /* Right margin to add space after the border */
    padding-right: .5rem; /* Right padding to space out the text from the border */
}

/* Custom navbar toggler */
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5); /* Optional: add border color if you want */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ensure the toggler is visible on all backgrounds when expanded */
.navbar-toggler.collapsed {
    background-color: transparent; /* Reset background when collapsed */
}

.navbar-toggler:not(.collapsed) {
    background-color: #fbfbfb; /* Set a background color when expanded */
}


/* Navbar customization */
.navbar-container {
    background-color: #f6f6f3;
    position: relative;
    z-index: 4; /* Ensure navbar is above other content */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Position the lanyard image */
.lanyard {
    position: absolute;
    bottom: -450px; /* Adjust this value as needed to position the lanyard below the navbar */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1; /* Ensure the lanyard is behind the navbar */
    pointer-events: none; /* Allows clicks to pass through */
}



.nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #000000;
}

.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

/* Container for both buttons */
.nav-buttons {
    display: flex; /* Align buttons horizontally */
    justify-content: center; /* Center buttons in the container */
    gap: 20px; /* Space between buttons */
    position: absolute; /* Position the buttons absolutely within a relative container */
    right: 140px; /* Move to the left by reducing the right value */
    bottom: 20px; /* Move up by increasing the bottom value */
}


/* Individual button styling */
.nav-button {
    border-radius: 100; /* Remove button border-radius */
    font-family: "Bebas Neue", sans-serif; /* Apply Bebas Neue font */
    font-size: 1.7rem; /* Make button font size larger */
    letter-spacing: 1px;
    padding: 10px 40px; /* Increase padding to make button bigger */
}



.btnsmsc {
    border-radius: 0; /* Remove button border-radius */
    font-family: "Bebas Neue", sans-serif; /* Apply Bebas Neue font */
    letter-spacing: 2px;
    font-size: 1.3rem; /* Make button font size larger */
    padding: 15px; /* Increase padding to make button bigger */
}

.btnsmsc:hover {
    border: 0px solid #000000; /* Add black border */
}



.green-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 49%; /* This will cover the right half of the screen */
    height: 65%; /* Adjust the height to your preference */
    background-color: #28A745; /* Your lanyard green color */
    z-index: -1; /* Ensure it's behind your content */
    transform: rotate(7deg); /* Rotates the div -95 degrees around the top right corner */
    display: flex;
    justify-content: center; /* Center the image container horizontally */
    align-items: center; /* Center the image container vertically */
    overflow: hidden; /* Ensures nothing overflows from the rotated div */
    box-shadow: 4px 22px 45px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.g-image-container {
    position: relative; /* Ensure that the pseudo-element is positioned relative to this container */
    width: 50%; /* Adjust based on desired size of the circular image */
    height: 100%; /* Adjust based on desired size of the circular image */
    border-radius: 0%; /* Creates the circular shape */
    overflow: hidden; /* Ensures the image fits within the circle */
    display: flex;
    justify-content: center;
    align-items: center;
}

.g-image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0%; /* Match the border-radius of the .g-image-container */
    background: radial-gradient(transparent, #5ebe7e00 99%); /* Adjust the color to match your background */
    pointer-events: none; /* Allows clicks to pass through */
}

.g-image-container img {
    width: auto; /* Adjust width auto to maintain aspect ratio */
    height: 150%; /* Make the image fit the height of the container */
    transform: translateY(26%); /* Move the image down by X percent */
}


#home {
    font-weight: 200;
    font-style: normal;
    color: rgb(0, 0, 0);
    padding: 20px 60px;
    position: relative;
}

#home h1 {
    font-family: "Spectral SC", serif;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
}



.custom-button {
    font-size: 1.25rem; /* Larger font size for readability */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Capitalize text */
    padding: 15px 30px; /* Larger padding for a bigger button appearance */
    color: #ffffff; /* White text for better contrast */
    border-radius: 0.5rem; /* Rounded corners */
    margin: 0 5px; /* Ensure buttons don't touch */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    display: inline-flex; /* Align icons and text */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Space between icon and text */
}

.help {
    background-color: #007bff; /* Bootstrap's primary blue for "GIVE HELP" */
}

.need {
    background-color: #dc3545; /* Bootstrap's danger red for "GET HELP" */
}

.custom-button i {
    font-size: 1.5rem; /* Larger icons */
}

.custom-button:hover {
    opacity: 0.8; /* Slight opacity change on hover for feedback */
}





#what-we-do {
    background-color: #f5f5f5; /* Light background for the section */
    font-family: 'Didact Gothic', sans-serif;
    padding: 2rem 0;
}

.section-header {
    color: #343a40; /* Dark color for contrast */
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.section-header::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 4px;
    background-color: #000000; 
    border-radius: 2px;
}

.card {
    margin-bottom: 1rem;
    border: none; /* Removes default border */
    background-color: #e9ecef; /* Light grey background for the card */
}




.card-header {
    background-color: #c4c4c4; /* Theme color */
    font-family: "Spectral SC", serif;
    color: #ffffff; /* White color for the text */
    padding: 0; /* Removes padding to allow the button to fill the area */
}

.btn-link {
    display: block; /* Makes the button fill the header */
    width: 100%; /* Ensures it covers the whole header area */
    padding: 0.75rem 1.25rem; /* Adds padding equivalent to what was on the card-header */
    color: #ffffff; /* White color for the button text */
    text-align: left; /* Aligns the text to the left */
    text-decoration: none; /* Removes underline */
    font-size: 1.2rem; /* Larger font size */
    border-radius: 0; /* Removes border radius if any */
}

.btn-link:hover, .btn-link:focus {
    text-decoration: none; /* Keeps text decoration off */
    background-color: #c0c0c0; /* Slightly darker shade on hover/focus */
    color: #ffffff; /* Maintains white color text on hover/focus */
}

.btn-link.collapsed {
    background-color: #343A3F; /* Maintains background color when collapsed */
}

.btn-link:not(.collapsed) {
    color: #ffffff; /* Keeps text white when expanded */
    background-color: #000000; /* Slightly darker shade for expanded state */
}

.card-body {
    font-size: 126%;
    color: #343a40; /* Dark grey color for text for readability */
    padding: 20px; /* Padding inside the card body */
}

.slideshow-container-header {
    font-family: "Spectral SC", serif;
}

.slideshow-container {
    /* Placeholder for slideshow styles */
    background-color: #ffffff; /* White background */
    border: 1px solid #ddd; /* Light grey border */
    padding: 20px; /* Padding inside the container */
    margin-top: 20px; /* Margin from the top element */
    height: auto; /* Auto height depending on content */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Subtle shadow for depth */
}






#locations {
    text-align: center;
    font-family: 'Didact Gothic', sans-serif;}


#locations h2 {
    font-family: 'Bebas Neue', cursive;
    font-size: 5rem;
    margin-bottom: 20px;
    position: relative; /* For the custom underline */
    display: inline-block; /* Ensures the underline fits the text width */
    z-index: 1; /* Ensures text is above shapes */
}

#locations h2::after {
    content: '';
    position: absolute;
    bottom: -10px; /* Adjust distance from text */
    left: 0;
    width: 100%;
    height: 4px; /* Thickness of the underline */
    background-color: #000000; 
    border-radius: 2px; /* Optional: adds rounded corners to the underline */
}

#locations p, #locations a {
    font-size: x-large;
    position: relative;
}


#locations img {
    margin-bottom: 20px; /* Adjust as needed */
    z-index: 1; /* Ensures image is above shapes */
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.5)); /* Adds shadow effect */
    pointer-events: none; /* Allows clicks to pass through */
}


#contact-us {
    background-color: #343A3F; /* Dark background color */
    color: #fff; /* White text color */
    margin-bottom: 0; /* Removes bottom margin */
}

#contact-us h2, #contact-us p {
    margin-bottom: 1rem;
}

#contact-us h2 {
    color: #fff; /* Ensures header text is white */
}

#contact-us label {
    color: #ccc; /* Lighter text for labels for better contrast */
    text-align: left; /* Ensures labels are aligned to the left */
    display: block; /* Makes sure label takes the full width */
}

#contact-us .form-control {
    background-color: #495057; /* Darker form fields for contrast */
    border-color: #6c757d;
    color: #fff; /* White text color for input */
}

#contact-us .form-control:focus {
    background-color: #495057; /* Maintain background on focus */
    border-color: #80bdff;
    outline: 0;
    box-shadow: none; /* Removes default Bootstrap shadow to match style */
}

#contact-us .btn-primary {
    background-color: #007bff; /* Primary button color */
    border-color: #007bff;
}

#contact-us .btn-primary:hover {
    background-color: #0056b3; /* Darker on hover */
    border-color: #004085;
}

/* Additional styles to ensure content is centered */
#contact-us .form-group {
    text-align: left; /* Aligns form elements to the left inside the centered column */
}





/* Footer customization */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 0;
}

.footer img {
    filter: brightness(0) invert(1);
}

/* Buttons hover effect */
.btn-outline-success:hover, .btn-outline-primary:hover {
    background-color: var(--tertiary-color);
    color: white;
}

.cookie-consent-banner {
    background-color: #8193f9;
    color: rgb(255, 255, 255);
    padding: 6px; /* Reduced padding */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 15px; /* Adjusted font size */
}

@media (max-width: 768px) {
    .lanyard {
        display: none;
    }

    .g-image-container img {
        display: none;
    }

    .green-background {
        position: relative;
        top: 0;
        right: 0;
        left: 0; /* Make the green background full width */
        width: 100%;
        height: 450px; /* Specify a fixed height */
        background-image: url('../media/img/heroimg.jpg'); /* Use your image here */
        background-size: cover; /* Cover might work better with a fixed height */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position-y: -90px; 
        transform: none; /* Remove rotation for small screens */
        margin-top: 10px; /* Add some space above the green background */
    }
    
    h1 {
        font-size: 35px; /* Adjust as needed */
    }
    p {
        font-size: 24px; /* Adjust as needed */
    }

    .custom-button {
        margin-bottom: 10px; /* Adds margin to the bottom of each button */
    }

    #locations {
        text-align: left;
    }

    #locations .row > .col-md-6:first-child {
        order: 1;
    }

    #locations .row > .col-md-6:last-child {
        order: 2;
    }
}

/* Adjustments for tablet screens */
@media (min-width: 768px) and (max-width: 1024px) {
    .lanyard {
        display: none; /* Hide the lanyard on tablet screens as well */
    }

    .g-image-container img {
        display: none; /* Hide the image inside g-image-container on tablet screens */
    }

    .green-background {
        position: relative;
        top: 0;
        right: 0;
        left: 0; /* Full width */
        width: 100%;
        height: 550px; /* Adjusted height for tablet screens */
        background-image: url('../media/img/heroimg.jpg');
        background-size: cover; /* Ensure the background covers the area */
        background-position: center; /* Center the background image */
        background-repeat: no-repeat;
        background-position-y: -140px; /* Adjust vertical positioning if needed */
        transform: none;
        margin-top: 10px; /* Adjust top margin if needed */
    }

    .section-header::after {
        width: 40%; /* Adjust underline width for larger screens */
    }
}

/* Adjustments for screens larger than 1024px */
@media (min-width: 1040px) {
    .green-background {
     overflow: hidden;
     
    }
    .body {
        overflow: hidden;
    }
}
