@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/* Using Didact Gothic for the body font */
body {
    font-family: 'Didact Gothic', sans-serif;
}

.nav-item:not(:last-child) {
    border-right: 1px solid #000; /* Adds a border to all except the last item */
    margin-right: .5rem; /* Right margin to add space after the border */
    padding-right: .5rem; /* Right padding to space out the text from the border */
}

/* Custom navbar toggler */
.navbar-toggler {
    border-color: rgba(0, 0, 0, 0.5); /* Optional: add border color if you want */
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Ensure the toggler is visible on all backgrounds when expanded */
.navbar-toggler.collapsed {
    background-color: transparent; /* Reset background when collapsed */
}

.navbar-toggler:not(.collapsed) {
    background-color: #fbfbfb; /* Set a background color when expanded */
}


/* Navbar customization */
.navbar-container {
    background-color: #f6f6f3;
    position: relative;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}


.nav-link {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
    letter-spacing: 1px;
    color: #000000;
}

.nav-link:hover {
    color: #000000;
    text-decoration: underline;
}

/* Container for both buttons */
.nav-buttons {
    display: flex; /* Align buttons horizontally */
    justify-content: center; /* Center buttons in the container */
    gap: 20px; /* Space between buttons */
    position: absolute; /* Position the buttons absolutely within a relative container */
    right: 140px; /* Move to the left by reducing the right value */
    bottom: 20px; /* Move up by increasing the bottom value */
}


/* Individual button styling */
.nav-button {
    border-radius: 100; /* Remove button border-radius */
    font-family: "Bebas Neue", sans-serif; /* Apply Bebas Neue font */
    font-size: 1.7rem; /* Make button font size larger */
    letter-spacing: 1px;
    padding: 10px 40px; /* Increase padding to make button bigger */
}



.btnsmsc {
    border-radius: 0; /* Remove button border-radius */
    font-family: "Bebas Neue", sans-serif; /* Apply Bebas Neue font */
    letter-spacing: 2px;
    font-size: 1.3rem; /* Make button font size larger */
    padding: 15px; /* Increase padding to make button bigger */
}

.btnsmsc:hover {
    border: 0px solid #000000; /* Add black border */
}

#home {
    background-color: #ededed; /* A serene, deep lavender color */
    color: rgb(0, 0, 0);
    padding: 50px 20px;
    border-radius: 15px; /* Rounded borders for a modern look */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    transition: all 0.3s ease-in-out;
}


.image-container img.rounded-circle {
    height: 3%;
    width: auto;
}

.custom-button {
    font-size: 1.25rem; /* Larger font size for readability */
    font-weight: bold; /* Bold text */
    text-transform: uppercase; /* Capitalize text */
    padding: 15px 30px; /* Larger padding for a bigger button appearance */
    color: #ffffff; /* White text for better contrast */
    border-radius: 0.5rem; /* Rounded corners */
    margin: 0 5px; /* Ensure buttons don't touch */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
    display: inline-flex; /* Align icons and text */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    gap: 10px; /* Space between icon and text */
}

.help {
    background-color: #007bff; /* Bootstrap's primary blue for "GIVE HELP" */
}

.need {
    background-color: #dc3545; /* Bootstrap's danger red for "GET HELP" */
}

.custom-button i {
    font-size: 1.5rem; /* Larger icons */
}

.custom-button:hover {
    opacity: 0.8; /* Slight opacity change on hover for feedback */
}



/* Footer customization */
.footer {
    background-color: var(--secondary-color);
    color: white;
    padding: 20px 0;
}

.footer img {
    filter: brightness(0) invert(1);
}

/* Buttons hover effect */
.btn-outline-success:hover, .btn-outline-primary:hover {
    background-color: var(--tertiary-color);
    color: white;
}

.cookie-consent-banner {
    background-color: #24b3c0;
    color: rgb(255, 255, 255);
    padding: 10px; /* Reduced padding */
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    font-size: 14px; /* Adjusted font size */
}


@media only screen and (max-width: 768px) {
    .image-container img.rounded-circle {
        height: 20rem;
        width: auto;
    }
}